<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    게시판 웹 페이지
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                JSP 기반 미니 웹 프로젝트<br/>
            </div>
            <div class="disc">
                    국비교육과정에서 MVC패턴의 게시판 웹페이지를 제작했다. 기본적으로 게시판 페이징과 생성, 삭제 수정, 답글 기능을 구현했고, 
                    부가적으로 회원가입, 로그인, 아이디저장, 회원정보 수정 및 삭제, 포토게시판 메일보내기 등의 기능들을 추가했다. 
                    수업과 과제 해결으로 프로젝트를 진행해 Oracle를 사용하여 페이징과 검색 등을 구현하였고, 다음 주소 API와 메일서비스 등을 사용해 볼 수 있었다.<br/><br/>
                <div class="image-box">
                    <img src="./images/board.jpg" alt="">
                </div>

            </div>
            <div class="link" id="link-08l">
                <span>board github</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>