<div class="detail-container">
    <div class="gnb">
        <div class="gnb-wrapper">
            <div class="btn-back">
                <img src="./images/arrow.svg" alt=""/>
            </div>
            <div class="title--bar">
                PutFoot
            </div>
            <div class="btn-empty">

            </div>
        </div>
    </div>
    <div class="content">
        <div class="title">
             풋살장 예약 및 랜덤매칭<br/>
             웹 페이지
        </div>
        <div class="disc">
            국비교육과정에서 배운 Spring Framework를 기반으로 5명이 한 팀이되어 풋살장 예약 및 랜덤매칭 사이트를 개발하였다.<br/><br/>
            
            그 중 랜덤 매칭에 필요한 클럽생성, 목록, 가입, 탈퇴, 팀리스트(페이징), 랜덤매칭, 관리자페이지를 주 역할로 맡아서 진행하였다. 추가적으로
            각자 개발한 내용을 취합하는 역할을 맡아 전체적인 개발에 조금씩 기여를 했고, 팀원들과 서로 소통이 잘 되어서 순조롭게 진행할 수 있었다. <br/><br/>
            
            팀프로젝트를 진행하면서 팀원들끼리 의사소통이 잘 됨으로서 계획에 차질없이 잘 진행 할 수 있었고, 그로인해 1등을 수상 할 수 있었다.
            디자인적으로는 부족하지만 좋은 결과물을 낼 수 있었고, 호흡에 관한 중요성을 배울 수 있는 계기가 되었다.
          
            <br/><br/>
            <div class="image-box">
                <img src="./images/putfoot.jpg" alt="">
            </div>
        </div>
        <div class="link" id="link-putfoot">
            <span>PutFoot github</span>
            <img src="./images/arrow.svg" alt="">
        </div>
    </div>
</div>

<script src="./components/detail/detail.js"></script>