<div class="detail-container">
	<div class="gnb">
		<div class="gnb-wrapper">
			<div class="btn-back">
				<img src="./images/arrow.svg" alt="" />
			</div>
			<div class="title--bar">대학교 조별과제</div>
			<div class="btn-empty"></div>
		</div>
	</div>
	<div class="content">
		<div class="title">
			멀티미디어컨텐츠 기획 설계<br />
		</div>
		<div class="disc">
			청각장애인들의 복지를 향상시킬 수 있는 앱을 주제로 선정하여 설계 부분에서는 브레인스토밍, SWOT분석, DFD구조도 등과
			데이터베이스 설계, Flow Chart 등을 작성했다. 개발은 회원가입, 로그인, 수화 검색, 음성 번역, SOS 등의
			기능들을 오픈소스를 참고해 안드로이드 앱으로 개발했다. <br />
			<br /> 혼자 개발을 담당을 맡고 진행을 해 많은 기능을 구현하지 못하였지만, 설계 과목의 프로젝트이기 때문에 프로그램을
			개발하는데 있어 기획, 설계 과정의 중요성에 대해 배울 수 있었다.<br />
			<br />
		</div>
	</div>
	<script src="./components/detail/detail.js"></script>